{% extends "base.html.twig" %}

{% block title 'Voir tous nos propertys'%}
{% block body %}
	<div class="container mt-4">
		<h1>Voir tous nos projets</h1>

		<div>
        <h2 class="has-text-align-left has-black-color has-text-color">Le Crowfunding immobilier</h2>
       
    </div>   
	</div>
	{% endblock %}
